html,
body {
  margin: 0;
  padding: 0;
}

#es-biotherm.es-biotherm {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000000;
  background-color: #ffffff;
}
#es-biotherm.es-biotherm * {
  box-sizing: border-box;
}
#es-biotherm.es-biotherm h2,
#es-biotherm.es-biotherm h3,
#es-biotherm.es-biotherm h4,
#es-biotherm.es-biotherm h5 {
  font-family: "Montserrat", sans-serif;
  color: #000000;
}
#es-biotherm.es-biotherm .es-title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
}
#es-biotherm.es-biotherm .es-title span {
  font-weight: 700;
}
#es-biotherm.es-biotherm .es-banner__image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 54px;
}
#es-biotherm.es-biotherm .es-banner__image--desktop {
  display: none;
}
#es-biotherm.es-biotherm .es-banner__description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
  color: #000;
}
#es-biotherm.es-biotherm .es-slider {
  position: relative;
  margin-bottom: 30px;
}
#es-biotherm.es-biotherm .es-slider__image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  width: 70%;
  max-width: 300px;
}
#es-biotherm.es-biotherm .es-slider__image--desktop {
  display: none;
}
#es-biotherm.es-biotherm .es-slider__link {
  margin-top: -30px !important;
  display: block;
  margin: 0 auto;
}
#es-biotherm.es-biotherm .es-category {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
}
#es-biotherm.es-biotherm .es-category__items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#es-biotherm.es-biotherm .es-category__image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 39px;
}
#es-biotherm.es-biotherm .es-category__item-title {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
}
#es-biotherm.es-biotherm .es-category__item-text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  text-align: center;
}
#es-biotherm.es-biotherm .es-category__item-text--bold {
  font-weight: bold;
}
#es-biotherm.es-biotherm .es-category__item-link {
  display: block;
  margin: 0 auto;
  max-width: 518px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #000000;
  text-decoration: underline;
  transition: all 0.3s ease;
}
#es-biotherm.es-biotherm .es-category-2 {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
}
#es-biotherm.es-biotherm .es-category-2__items {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}
#es-biotherm.es-biotherm .es-category-2__item {
  max-width: 395px;
}
#es-biotherm.es-biotherm .es-category-2__image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 280px;
  max-height: 280px;
  margin-bottom: 30px;
}
#es-biotherm.es-biotherm .es-category-2__item-title {
  margin-bottom: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: #000000;
}
#es-biotherm.es-biotherm .es-category-2__item-link {
  display: block;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease;
}
#es-biotherm.es-biotherm .es-category-2__subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}
#es-biotherm.es-biotherm .es-cross {
  padding: 0 16px;
}
#es-biotherm.es-biotherm .es-cross--desktop {
  display: none;
}
#es-biotherm.es-biotherm .es-cross__container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  margin: 0 -16px;
}
#es-biotherm.es-biotherm .es-cross__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 290px;
  max-width: 220px;
}
#es-biotherm.es-biotherm .es-cross__img--3 {
  margin-right: -50px;
}
#es-biotherm.es-biotherm .es-cross__single {
  max-width: 275px;
  margin-bottom: 25px;
  padding: 0 8px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
#es-biotherm.es-biotherm .es-cross__single:hover .es-cross__icon {
  transform: scale(1.2);
}
#es-biotherm.es-biotherm .es-cross__wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
#es-biotherm.es-biotherm .es-cross__subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}
#es-biotherm.es-biotherm .es-cross__subtitle strong {
  display: block;
  text-transform: uppercase;
}
#es-biotherm.es-biotherm .es-cross__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-family: "Montserrat";
  color: #000000;
  font-size: 15px;
  text-align: center;
  margin-bottom: 16px;
}
#es-biotherm.es-biotherm .es-cross__item-title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  min-height: 63px;
  min-width: 175px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  color: #000000;
}
#es-biotherm.es-biotherm .es-cross__item-subtitle {
  display: block;
  margin-top: 10px;
  font-size: 16px;
}
#es-biotherm.es-biotherm .es-cross__link {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  min-width: 195px;
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: bold;
  text-decoration: underline;
  transition: all 0.3s ease;
  text-align: center;
}
#es-biotherm.es-biotherm .es-cross__link:hover {
  color: #000000;
  background: #ffffff;
}
#es-biotherm.es-biotherm .es-cross__packshot {
  position: relative;
  z-index: 1;
}
#es-biotherm.es-biotherm .es-cross__packshot--1 {
  max-width: 189px;
}
#es-biotherm.es-biotherm .es-cross__packshot--1::before {
  position: absolute;
  content: "1";
  font-family: "Roboto";
  color: #ebebeb;
  font-size: 160px;
  top: -15px;
  left: -60px;
  line-height: 1;
  z-index: -1;
}
#es-biotherm.es-biotherm .es-cross__packshot--2 {
  max-width: 175px;
}
#es-biotherm.es-biotherm .es-cross__packshot--2::before {
  position: absolute;
  content: "2";
  font-family: "Roboto";
  color: #ebebeb;
  font-size: 160px;
  top: -68px;
  left: -60px;
  line-height: 1;
  z-index: -1;
}
#es-biotherm.es-biotherm .es-cross__packshot--3::before {
  position: absolute;
  content: "3";
  font-family: "Roboto";
  color: #ebebeb;
  font-size: 160px;
  top: -50px;
  left: -60px;
  line-height: 1;
  z-index: -1;
}
#es-biotherm.es-biotherm .es-cross__packshot-icon {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
#es-biotherm.es-biotherm .es-video {
  padding-left: 15px;
  padding-right: 15px;
}
#es-biotherm.es-biotherm .es-video__wrapper {
  position: relative;
  margin-bottom: 50px;
}
#es-biotherm.es-biotherm .es-video__player {
  display: block;
  margin: 0 auto;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 225px;
}
#es-biotherm.es-biotherm .es-video__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
#es-biotherm.es-biotherm .es-video__image-icon {
  width: 53px;
  height: 53px;
}
#es-biotherm.es-biotherm .es-video__image-icon--desktop {
  width: 116px;
  height: 116px;
}
#es-biotherm.es-biotherm .es-video__description {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-top: 20px;
  margin-bottom: 30px;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
#es-biotherm.es-biotherm .es-video__additional-description {
  min-width: 320px;
  margin-bottom: 32px;
}
#es-biotherm.es-biotherm .es-video__additional-description strong {
  text-transform: none;
}
#es-biotherm.es-biotherm .es-video__player--desktop {
  display: none;
}
#es-biotherm.es-biotherm .es-video__play-button--desktop {
  display: none;
}
#es-biotherm.es-biotherm .es-video__disclaimer {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 14px;
}
#es-biotherm.es-biotherm .es-mission__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
#es-biotherm.es-biotherm .es-mission__button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: block;
  background: none;
  border: none;
  margin: 0 auto;
  margin-top: 10px;
}
#es-biotherm.es-biotherm .es-mission__invisible {
  display: none;
}
#es-biotherm.es-biotherm .es-mission__invisible--active {
  display: inline;
}
#es-biotherm.es-biotherm .es-mission__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#es-biotherm.es-biotherm .es-mission__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-biotherm.es-biotherm .es-mission__item-title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.1em;
  color: #000;
  text-align: center;
}
#es-biotherm.es-biotherm .es-mission__item-description {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
#es-biotherm.es-biotherm .es-mission__link {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  display: block;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  max-width: 195px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
  text-decoration: underline;
  transition: all 0.3s ease;
  text-align: center;
}
#es-biotherm.es-biotherm .slick-button-prev {
  position: absolute;
  top: 35%;
  left: 15px;
  rotate: 180deg;
  cursor: pointer;
}
#es-biotherm.es-biotherm .slick-button-next {
  position: absolute;
  top: 35%;
  right: 15px;
  cursor: pointer;
}
#es-biotherm.es-biotherm .slick-button-2-prev {
  position: absolute;
  bottom: 0;
  left: 15px;
  rotate: 180deg;
  cursor: pointer;
}
#es-biotherm.es-biotherm .slick-button-2-next {
  position: absolute;
  bottom: 0;
  right: 15px;
  cursor: pointer;
}
#es-biotherm.es-biotherm .slick-pagination-2 {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#es-biotherm.es-biotherm .slick-dots {
  position: absolute;
  display: flex;
  gap: 0 4px;
  padding: 0;
  margin: 0;
  bottom: -3%;
  left: 50%;
  transform: translate(-50%, 0);
}
#es-biotherm.es-biotherm .slick-dots li {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background: #b8a8a6;
  opacity: 1;
}
#es-biotherm.es-biotherm .slick-dots li:not(:last-child) {
  margin-right: 6px;
}
#es-biotherm.es-biotherm .slick-dots li.slick-active {
  background: #000000;
}
#es-biotherm.es-biotherm .slick-dots li button {
  display: none;
}
#es-biotherm.es-biotherm .slick-slide {
  opacity: 0.7;
}
#es-biotherm.es-biotherm .slick-current {
  opacity: 1;
}
#es-biotherm.es-biotherm .slick-list {
  overflow: visible;
}
#es-biotherm.es-biotherm .slick-arrow.slick-disabled {
  display: none !important;
}
@media screen and (min-width: 560px) {
  #es-biotherm.es-biotherm .es-cross__container {
    max-width: 628px;
    margin: 0 auto;
    gap: 10px;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  #es-biotherm.es-biotherm .es-video__player--mobile {
    display: none;
  }
  #es-biotherm.es-biotherm .es-video__player--desktop {
    display: block;
    min-height: 507px;
  }
  #es-biotherm.es-biotherm .es-video__play-button--mobile {
    display: none;
  }
  #es-biotherm.es-biotherm .es-video__play-button--desktop {
    display: block;
  }
}
@media screen and (min-width: 600px) {
  #es-biotherm.es-biotherm .es-banner__image--desktop {
    display: block;
  }
  #es-biotherm.es-biotherm .es-banner__image--mobile {
    display: none;
  }
  #es-biotherm.es-biotherm .es-category__items {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  #es-biotherm.es-biotherm .es-category__item {
    max-width: 50%;
  }
  #es-biotherm.es-biotherm .es-category__title {
    margin-bottom: 50px;
  }
  #es-biotherm.es-biotherm .es-category-2__items {
    flex-direction: row;
    gap: 10px;
  }
  #es-biotherm.es-biotherm .es-category-2__subtitle {
    margin-bottom: 35px;
  }
  #es-biotherm.es-biotherm .es-slick-carousel--mobile,
  #es-biotherm.es-biotherm .slick-button-prev,
  #es-biotherm.es-biotherm .slick-button-next {
    display: none;
  }
  #es-biotherm.es-biotherm .slick-pagination-2,
  #es-biotherm.es-biotherm .slick-button-2-prev,
  #es-biotherm.es-biotherm .slick-button-2-next {
    display: none;
  }
  #es-biotherm.es-biotherm .es-cross--desktop {
    display: block;
  }
  #es-biotherm.es-biotherm .es-cross--mobile {
    display: none;
  }
  #es-biotherm.es-biotherm .es-mission__button {
    display: none;
  }
  #es-biotherm.es-biotherm .es-mission__invisible {
    display: inline;
  }
}
@media screen and (min-width: 768px) {
  #es-biotherm.es-biotherm .slick-dots {
    left: 50%;
  }
  #es-biotherm.es-biotherm .es-title {
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
  }
  #es-biotherm.es-biotherm .es-slider__image--desktop {
    display: block;
  }
  #es-biotherm.es-biotherm .es-slider__image--mobile {
    display: none;
  }
}
@media screen and (min-width: 860px) {
  #es-biotherm.es-biotherm .es-cross__container {
    justify-content: space-around;
    max-width: none;
  }
  #es-biotherm.es-biotherm .es-cross__single {
    max-width: 140px;
  }
  #es-biotherm.es-biotherm .es-cross__text {
    min-height: 75px;
  }
  #es-biotherm.es-biotherm .es-cross__img {
    max-width: 250px;
    max-height: 366px;
  }
  #es-biotherm.es-biotherm .es-cross__img--2 {
    max-width: 274px;
  }
  #es-biotherm.es-biotherm .es-cross__img--3 {
    max-width: 236px;
    margin-right: 0;
  }
  #es-biotherm.es-biotherm .es-cross__packshot {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 300px;
  }
  #es-biotherm.es-biotherm .es-cross__packshot--2 {
    max-width: 250px;
  }
  #es-biotherm.es-biotherm .es-cross__packshot--2::before {
    left: 33%;
    top: -20px;
  }
  #es-biotherm.es-biotherm .es-cross__packshot--3::before {
    left: 25%;
    top: -20px;
  }
}
@media screen and (min-width: 1200px) {
  #es-biotherm.es-biotherm .es-category-2__items {
    max-width: none;
    justify-content: center;
  }
  #es-biotherm.es-biotherm .es-category-2__image {
    max-width: 395px;
    max-height: 366px;
  }
  #es-biotherm.es-biotherm .es-cross__single {
    max-width: 225px;
    justify-content: space-between;
  }
  #es-biotherm.es-biotherm .es-cross__link {
    min-width: 248px;
  }
  #es-biotherm.es-biotherm .es-cross__text {
    max-width: 245px;
  }
  #es-biotherm.es-biotherm .es-cross__item-title {
    min-height: 30px;
    min-width: 230px;
  }
  #es-biotherm.es-biotherm .es-cross__packshot--1::before {
    top: -45px;
    left: -47px;
    font-size: 200px;
  }
  #es-biotherm.es-biotherm .es-cross__packshot--2::before {
    top: -50px;
    font-size: 200px;
  }
  #es-biotherm.es-biotherm .es-cross__packshot--3::before {
    top: -50px;
    font-size: 200px;
  }
  #es-biotherm.es-biotherm .es-category__item-title {
    font-size: 27px;
    margin: 30px;
  }
  #es-biotherm.es-biotherm .es-category__item-text {
    font-size: 15px;
  }
  #es-biotherm.es-biotherm .es-mission__img {
    max-width: 610px;
  }
  #es-biotherm.es-biotherm .es-mission__text-group {
    max-width: 50%;
  }
}
@media screen and (min-width: 1300px) {
  #es-biotherm.es-biotherm .es-slider,
  #es-biotherm.es-biotherm .es-category {
    margin-bottom: 80px;
  }
}
@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideright {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}/*# sourceMappingURL=style.css.map */